<div class="change-pwd">
    <h3>安全中心</h3>
    <div class="email xgsj">
        <p class="title">
            <span class="bt">修改手机号</span>
            <em class="ts">每个月仅限修改一次，请慎重修改！</em><a>通过验证的邮箱修改手机号></a></p>
        <form class="send-email get-code">
            <p class="oldTel"><label for="">原手机号：</label><input type="text"> <a href="" class="getMessage">获取短信验证码</a>
            </p>
            <p class="oldTel"><label for="">验证码：</label><input type="text"></p>
            <p class="oldTel"><label for=""></label><a href="#/safecenter/bindnewtel" class="next">下一步</a></p>
        </form>
    </div>
</div>
