<div class="bindAlipayPage">
    <p class="zfb"><a href="javascript:;"><em>支付宝</em><span>用于直接提现和兑换支付宝集分宝</span></a></p>
    <ul class="info">
        <li><label for="">收款人姓名：</label><input type="text" class="username"><s>*</s><i>收款人姓名为您收款银行的开户姓名，请务必真是填写！</i>
        </li>
        <li><label for="">支付宝账号：</label><input type="text" class="account"><s>*</s><i>请输入正确的支付宝账号</i></li>
        <li><label for="">手机验证码：</label><input type="text" class="telCode"><a href=""
                                                                              class="getMessage">获取验证码</a>
            <p><i>您认证的手机是<em>159******58</em><a href="" class="edit">修改 >></a></i></p></li>
        <li><label for=""></label><a href="" class="save">保 存</a></li>
    </ul>
    <p class="warning clearfix clear"><i></i><span>注意：添加当日不能对银行卡/支付宝信息进行修改</span></p>
    <div class="addBankCardLink">
        <a href="#/txzh/bankCard"><em>银行卡</em><span>用于直接提现</span></a>
    </div>
</div>