<div class="bindCardPage">
    <div class="addAlipayLink">
        <a href="#/txzh/alipay"><em>支付宝</em><span>用于直接提现和兑换支付宝集分宝</span></a>
    </div>
    <div class="bindCard">
        <p class="bindCard-title"><a href="javascript:;"><em>银行卡</em><span>用于直接提现</span></a></p>
        <ul>
            <li>
                <label for="payee">收款人姓名：</label><input type="text" class="payee" id="payee">
                <s>*</s>
                <em>收款人姓名为您收款银行的开户姓名，请务必真实填写！</em>
            </li>
            <li>
                <label for="bankName">开户行/财付通：</label><select name="" class="bankName" id="bankName">
                <option value="">-请选择收款方式-</option>
                <option value="">中国工商银行</option>
                <option value="">中国农业银行</option>
                <option value="">中国建设银行</option>
                <option value="">中国邮政储蓄</option>
                <option value="">中国招商银行</option>
                <option value="">中国银行</option>
                <option value="">财付通</option>
            </select>
                <s>*</s>
                <em>2012年12月27日调整后，所有提现都不需要手续费。</em>
            </li>
            <li>
                <label for="cityLive">所在城市：</label><input type="text" class="cityLive" id="cityLive">
                <s>*</s>
                <em>例如：武汉市</em>
            </li>
            <li>
                <label for="cardNum">银行卡号：</label><input type="text" class="cardNum" id="cardNum">
                <s>*</s>
                <em></em>
            </li>
            <li>
                <label for="messageCode">手机验证码：</label>
                <input type="text" class="messageCode" id="messageCode">
               
                <a href="" class="getMessage">获取验证码</a>
                <span class=""><i>您认证的手机是<strong>159****58</strong></i><a href="" class="edit">修改 >></a></span>
            </li>
            <li>
                <label for=""></label>
                <a href="" class="save">保 存</a>
            </li>
        </ul>
        <p class="warning clear clearfix"><i></i><span>注意：添加当日不能对银行卡/支付宝信息进行修改</span></p>
    </div>
</div>