<link rel="stylesheet" href="../css/1ydb_goods_detail.css"/>
<div class="db_goods_detail">
    <div class="path">
        <p>
            <a href="../1ydb.html"><span>1元夺宝</span></a>
            <em>&gt;</em>
            <a href="#/all"><span>全部商品</span></a>
            <em>&gt;</em>
            <a class="active" href="#"><span>Apple MacBook Pro 15.4英寸笔记本电脑Core i7处理器/16GB内存/256GB</span></a>
        </p>
    </div>
    <div class="goods_img_i clear clearfix">
        <!--商品图片-->
        <div class="goods_img ">
            <div class="img_box">
                <div class="tb-booth tb-pic tb-s310">
                    <a href="../image/imgs/1-(2).jpg">
                        <img src="../image/imgs/01_mid.jpg" alt="MacBook" rel="../image/imgs/01.jpg" class="jqzoom"/>
                    </a>
                </div>
                <ul class="tb-thumb clear clearfix" id="thumblist">
                    <li class="tb-selected">
                        <div class="tb-pic tb-s40">
                            <a href="javascript:;">
                                <img src="../image/imgs/01_small.jpg" mid="../image/imgs/01_mid.jpg"
                                     big="../image/imgs/01.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="tb-pic tb-s40">
                            <a href="javascript:;">
                                <img src="../image/imgs/02_small.jpg" mid="../image/imgs/02_mid.jpg"
                                     big="../image/imgs/02.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="tb-pic tb-s40">
                            <a href="javascript:;">
                                <img src="../image/imgs/03_small.jpg" mid="../image/imgs/03_mid.jpg"
                                     big="../image/imgs/03.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="tb-pic tb-s40">
                            <a href="javascript:;">
                                <img src="../image/imgs/04_small.jpg" mid="../image/imgs/04_mid.jpg"
                                     big="../image/imgs/04.jpg">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="tb-pic tb-s40">
                            <a href="javascript:;">
                                <img src="../image/imgs/05_small.jpg" mid="../image/imgs/05_mid.jpg"
                                     big="../image/imgs/05.jpg">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--商品夺宝详情-->
        <div class="goods_introduce">
            <div class="g-up">
                <!--标题-->
                <div class="goods-name">
                    <h1>Apple MacBook Pro 15.4英寸笔记本电脑Core i7处理器/16GB内存/256GB</h1>
                    <P> Core i7处理器/16GB内存/256GB SSD闪存/Rtina屏 MJLQ2CH/A</P>
                </div>
                <!--价格-->
                <div class="goods-price clear clearfix">
                    <div class="jg-title">
                        价值：
                    </div>
                    <div class="jg">
                        <em>￥</em><span>16666.00</span>
                    </div>
                </div>
            </div>
            <div class="g-down">
                <!--期号-->
                <div class="qg-detail">
                    <div class="issue clear clearfix">
                        <div class="issue-title">
                            <span class="">期号：</span>
                        </div>
                        <div class="issue-number">
                            <span>212499</span>
                        </div>
                    </div>
                    <div class="number-detail">
                        <div class="progress-bar">
                            <div class="pb"><span class="pb-c"></span></div>
                        </div>
                        <div class="need-people clear clearfix">
                            <div class="np-total">
                                <p>总需<span>16666</span>人次(1元宝/人次)</p>
                            </div>
                            <div class="np-surplus">
                                <p>剩余：<span>2960</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--参与-->
                <div class="canyu">
                    <div class="clear clearfix">
                        <div class="cy clear clearfix">
                            <div class="cy-title">
                                参与:
                            </div>
                            <div class="cy-input">
                                <a class="decrease" href="">-</a>
                                <input type="number" value="1">
                                <a class="increase" href="">+</a>
                            </div>
                            <div class="cy-rc">
                                人次
                            </div>
                        </div>
                        <div class="cy-rc-select">
                            <a href="">5</a>
                            <a href="">20</a>
                            <a href="">50</a>
                            <a href="">100</a>
                            <a href="">包尾</a>
                        </div>
                    </div>
                    <div class="cy-use-rc">
                        <p>您总参与了 <span>1</span> 人次</p>
                    </div>
                </div>
                <!--查看更多-->
                <div class="watch-more clear clearfix">
                    <a href="">查看更多>></a>
                </div>
                <!--幸运号-->
                <div class="luck-number">
                    <p>10000096</p>
                </div>
                <!--立即夺宝-->
                <div class="db-now">
                    <a href="">立即夺宝</a>
                </div>
            </div>
        </div>
    </div>
    <!--商品信息详情-->
    <div class="goods-detail">
        <div class="g-list">
            <ul class="clear clearfix">
                <li class="active">
                    <a href="javascript:void(0);" data-toggle="tab" data-target="g_img_detail">图文详情</a>
                    <div class="top-line"></div>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="tab" data-target="g_actor">参与记录</a>
                    <div class="top-line"></div>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="tab" data-target="g_wqjx">往期揭晓</a>
                    <div class="top-line"></div>
                </li>
            </ul>
        </div>
        <div class="g-list-detail">
            <!--图文详情-->
            <div class="g-img-detail" id="g_img_detail">
                <img src="../image/imgs/1.png" alt="">
                <img src="../image/imgs/2.png" alt="">
                <img src="../image/imgs/3.png" alt="">
                <img src="../image/imgs/4.png" alt="">
            </div>
            <!--参与记录-->
            <div class="g-actor" id="g_actor">
                <table>
                    <caption>参与记录</caption>
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>会员</th>
                        <th>参与人次</th>
                        <th>IP</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2017-06 29 16:05:21</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>152*****986</span></td>
                        <td>26</td>
                        <td>49.64.88.185</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    <tr>
                        <td>2017-06 29 16:01:33</td>
                        <td><img src="../image/icon/zu-1.png" alt=""><span>186*****132</span></td>
                        <td>11</td>
                        <td>112.224.65.42</td>
                    </tr>
                    </tbody>
                </table>
                <!--分页-->
                <div class="pagePosition clear clearfix">
                    <div class="pages">
                        <a class="pg-prev" page-id="0">上一页</a>
                        <span class="current" page-id="1">1</span>
                        <a page-id="2">2</a>
                        <a page-id="3">3</a>
                        <span class="els">···</span>
                        <a page-id="58">58</a>
                        <a class="pg-next" page-id="2">下一页</a>
                    </div>
                </div>
            </div>
            <!--往期揭晓-->
            <div class="g-wqjx" id="g_wqjx">
                <table>
                    <caption>往期揭晓</caption>
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="wq-qh">
                            <div class="w-qh">期号：<span>209582</span></div>
                        </td>
                        <td class="wq-winner">
                            <div class="w-user clear clearfix">
                                <img src="../image/icon/people.png" alt="">
                                <div class="w-user-info">
                                    <div><span class="w-user-tel">182*****723</span></div>
                                    <div><em>IP:</em><span class="w-user-id">27.128.175.92</span></div>
                                    <div><em>幸运号码：</em><span class="lucky-number">10000389</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="wq-timer">
                            <div><em>揭晓时间：</em><span class="w-jx-time">2017-06-29 16:14:00</span></div>
                        </td>
                        <td class="wq-number">
                            <div><em>参与了</em><span class="cy-num">5人次</span></div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <!--分页-->
                <div class="pagePosition clear clearfix">
                    <div class="pages">
                        <a class="pg-prev" page-id="0">上一页</a>
                        <span class="current" page-id="1">1</span>
                        <a page-id="2">2</a>
                        <a page-id="3">3</a>
                        <span class="els">···</span>
                        <a page-id="58">58</a>
                        <a class="pg-next" page-id="2">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        "use strict"

        function Tab(id) {
            /*点击事件绑定*/
            id.on("click", function () {
                /*重置样式*/
                for (var i = 0; i < id.length; i++) {
                    id.eq(i).parent().removeClass("active");
                    var id_target = "#" + id.eq(i).data("target");
                    $(id_target).hide();
                }
                var $that = $(this);
                var id_type = $that.data("toggle");
                var _target = "#" + $that.data("target");
                if (id_type == "tab") {
                    $that.parent().addClass("active");
                    $(_target).show();
                }
            })
        }

        Tab($(".g-list a"));
    })();

</script>